[submodule "references/mibu"]
	path = references/mibu
	url = https://github.com/xyaman/mibu
[submodule "references/lipgloss"]
	path = references/lipgloss
	url = https://github.com/charmbracelet/lipgloss
[submodule "references/chroma-zig"]
	path = references/chroma-zig
	url = https://github.com/adia-dev/chroma-zig
