[submodule "modules/mibu"]
	path = modules/mibu
	url = https://github.com/xyaman/mibu
[submodule "modules/lipgloss"]
	path = modules/lipgloss
	url = https://github.com/charmbracelet/lipgloss
[submodule "modules/chroma-zig"]
	path = modules/chroma-zig
	url = https://github.com/adia-dev/chroma-zig
